body { background-color: #021059;
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
}
header { background-color: #ad1313;
    color:#ffffff;
}
h1 { padding-top: 50px;
     padding-left: 2em;

}
nav { text-align: left;
   font-weight: bold; 
   padding: 1em;
}
p { text-align: left;
    padding: 2em;
 }
nav a { text-decoration: none; 
}
footer { background-color: #ad1313;
     font-size: small;
     font-style: italic;
     text-align: center;
        padding: 1em;
}

main {
     padding-left:2em;
     padding-right:2em;
}

img {
     padding-left:1em;
     padding-right:1em;
     width:20%;
     height:20%;
}
     